# Flipkart data cleaning

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd 
## for importing csv file 
df=pd.read_csv("flipkart_dataset_dirty.csv")
df

,Product_ID,Product_Name,Brand,Price,Discount_%,Ratings,Stock,Delivery_Time_days,Return_Policy_Days,Is_Prime
0,PID0000,Camera,Samsung,33117,20,3.6,92.0,2,7,False
1,PID0001,Shoes,Realme,24164,37,1.6,NaN,9,10,False
2,PID0002,Tablet,LG,32910,19,4.5,59.0,6,15,True
3,PID0003,Watch,LG,33496,28,3.2,97.0,5,30,False
4,PID0004,Camera,NaN,45311,3,2.1,42.0,6,15,True
...,...,...,...,...,...,...,...,...,...,...
1015,PID0701,TV,LG,17994,31,NaN,10.0,2,7,True
1016,PID0228,Microwave,Dell,38605,47,2.0,52.0,1,10,False
1017,PID0496,Camera,Mi,30750,9,3.7,27.0,4,7,False
1018,PID0831,Laptop,Realme,1587,3,2.5,5.0,2,10,False
1019,PID0601,TV,Realme,38481,40,3.6,NaN,7,30,True

# View intial data

In [6]:
df.head(10)

,Product_ID,Product_Name,Brand,Price,Discount_%,Ratings,Stock,Delivery_Time_days,Return_Policy_Days,Is_Prime
0,PID0000,Camera,Samsung,33117,20,3.6,92.0,2,7,False
1,PID0001,Shoes,Realme,24164,37,1.6,NaN,9,10,False
2,PID0002,Tablet,LG,32910,19,4.5,59.0,6,15,True
3,PID0003,Watch,LG,33496,28,3.2,97.0,5,30,False
4,PID0004,Camera,NaN,45311,3,2.1,42.0,6,15,True
5,PID0005,Microwave,Realme,30371,6,2.7,44.0,9,30,True
6,PID0006,Headphones,Dell,39467,27,1.2,22.0,7,7,False
7,PID0007,Camera,Realme,18625,27,1.5,68.0,9,7,False
8,PID0008,Tablet,Mi,34893,3,4.1,93.0,4,15,True
9,PID0009,Watch,Samsung,11793,21,1.0,5.0,2,7,False

In [11]:
df.tail(10)

,Product_ID,Product_Name,Brand,Price,Discount_%,Ratings,Stock,Delivery_Time_days,Return_Policy_Days,Is_Prime
1010,PID0641,TV,Realme,37727,43,1.9,89.0,1,10,True
1011,PID0472,Microwave,Dell,19313,38,3.5,3.0,4,30,True
1012,PID0579,Laptop,HP,30309,32,3.4,88.0,8,15,False
1013,PID0623,Speaker,HP,19681,10,1.3,42.0,7,10,False
1014,PID0816,Tablet,Dell,45517,42,4.9,50.0,7,7,True
1015,PID0701,TV,LG,17994,31,NaN,10.0,2,7,True
1016,PID0228,Microwave,Dell,38605,47,2.0,52.0,1,10,False
1017,PID0496,Camera,Mi,30750,9,3.7,27.0,4,7,False
1018,PID0831,Laptop,Realme,1587,3,2.5,5.0,2,10,False
1019,PID0601,TV,Realme,38481,40,3.6,NaN,7,30,True

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product_ID          1020 non-null   object
 1   Product_Name        1020 non-null   object
 2   Brand               920 non-null    object
 3   Price               1020 non-null   int64
 4   Discount_%          1020 non-null   int64
 5   Ratings             919 non-null    float64
 6   Stock               919 non-null    float64
 7   Delivery_Time_days  1020 non-null   int64
 8   Return_Policy_Days  1020 non-null   int64
 9   Is_Prime            1020 non-null   bool
dtypes: bool(1), float64(2), int64(4), object(3)
memory usage: 72.8+ KB

In [13]:
df.describe()

,Price,Discount_%,Ratings,Stock,Delivery_Time_days,Return_Policy_Days
count,1020.000000,1020.000000,919.000000,919.000000,1020.000000,1020.000000
mean,25071.467647,25.134314,2.976170,49.195865,4.961765,14.911765
std,13908.242310,14.359146,1.145565,28.818354,2.583922,8.583828
min,1097.000000,0.000000,1.000000,0.000000,1.000000,7.000000
25%,12438.000000,12.000000,2.000000,24.000000,3.000000,7.000000
50%,25242.500000,26.000000,3.000000,47.000000,5.000000,10.000000
75%,36163.750000,37.000000,3.950000,75.000000,7.000000,15.000000
max,49998.000000,49.000000,5.000000,99.000000,9.000000,30.000000

In [15]:
df.shape

(1020, 10)

## Handling null values

In [18]:
df.isnull().sum()

Product_ID              0
Product_Name            0
Brand                 100
Price                   0
Discount_%              0
Ratings               101
Stock                 101
Delivery_Time_days      0
Return_Policy_Days      0
Is_Prime                0
dtype: int64

In [26]:
df['Stock'].fillna(df['Stock'].median())

0       92.0
1       47.0
2       59.0
3       97.0
4       42.0
        ...
1015    10.0
1016    52.0
1017    27.0
1018     5.0
1019    47.0
Name: Stock, Length: 1020, dtype: float64

In [62]:
df['Brand'].fillna('Unknown')
df

,Product_ID,Product_Name,Brand,Price,Discount_%,Ratings,Stock,Delivery_Time_days,Return_Policy_Days,Is_Prime
0,PID0000,Camera,Samsung,33117,20,3.6,92.000000,2,7,False
1,PID0001,Shoes,Realme,24164,37,1.6,49.195865,9,10,False
2,PID0002,Tablet,LG,32910,19,4.5,59.000000,6,15,True
3,PID0003,Watch,LG,33496,28,3.2,97.000000,5,30,False
4,PID0004,Camera,Unknown,45311,3,2.1,42.000000,6,15,True
...,...,...,...,...,...,...,...,...,...,...
995,PID0995,Microwave,Sony,46714,35,3.5,96.000000,9,10,False
996,PID0996,Microwave,Boat,27649,33,2.6,33.000000,2,7,True
997,PID0997,Tablet,Dell,24132,28,4.0,79.000000,6,7,False
998,PID0998,Smartphone,Apple,17789,23,3.1,54.000000,7,10,False
999,PID0999,Speaker,Sony,15567,23,3.7,17.000000,4,15,False

In [41]:
df['Brand'].fillna('Unknown', inplace=True)
print(df.Brand)

0       Samsung
1        Realme
2            LG
3            LG
4       Unknown
         ...
1015         LG
1016       Dell
1017         Mi
1018     Realme
1019     Realme
Name: Brand, Length: 1020, dtype: object

In [45]:
df['Ratings'].fillna(df['Ratings'].mean(), inplace=True)

C:\Users\asus\AppData\Local\Temp\ipykernel_28164\1856638977.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ratings'].fillna(df['Ratings'].mean(), inplace=True)

In [47]:
print(df.Ratings)

0       3.60000
1       1.60000
2       4.50000
3       3.20000
4       2.10000
         ...
1015    2.97617
1016    2.00000
1017    3.70000
1018    2.50000
1019    3.60000
Name: Ratings, Length: 1020, dtype: float64

In [68]:
df['Stock'].fillna(df['Stock'].mean(), inplace=True)
print(df.Stock)

0      92.000000
1      49.195865
2      59.000000
3      97.000000
4      42.000000
         ...
995    96.000000
996    33.000000
997    79.000000
998    54.000000
999    17.000000
Name: Stock, Length: 1000, dtype: float64

### Handling Duplicate values

In [52]:
print('Duplicate value in each column:\n', df.duplicated().sum())

Duplicate value in each column:
 20

In [54]:
df.duplicated().sum()

20

In [56]:
df.drop_duplicates(inplace=True)

In [58]:
df

,Product_ID,Product_Name,Brand,Price,Discount_%,Ratings,Stock,Delivery_Time_days,Return_Policy_Days,Is_Prime
0,PID0000,Camera,Samsung,33117,20,3.6,92.000000,2,7,False
1,PID0001,Shoes,Realme,24164,37,1.6,49.195865,9,10,False
2,PID0002,Tablet,LG,32910,19,4.5,59.000000,6,15,True
3,PID0003,Watch,LG,33496,28,3.2,97.000000,5,30,False
4,PID0004,Camera,Unknown,45311,3,2.1,42.000000,6,15,True
...,...,...,...,...,...,...,...,...,...,...
995,PID0995,Microwave,Sony,46714,35,3.5,96.000000,9,10,False
996,PID0996,Microwave,Boat,27649,33,2.6,33.000000,2,7,True
997,PID0997,Tablet,Dell,24132,28,4.0,79.000000,6,7,False
998,PID0998,Smartphone,Apple,17789,23,3.1,54.000000,7,10,False
999,PID0999,Speaker,Sony,15567,23,3.7,17.000000,4,15,False

In [72]:
df.rename(columns={'Price':'Product_price'})

,Product_ID,Product_Name,Brand,Product_price,Discount_%,Ratings,Stock,Delivery_Time_days,Return_Policy_Days,Is_Prime
0,PID0000,Camera,Samsung,33117,20,3.6,92.000000,2,7,False
1,PID0001,Shoes,Realme,24164,37,1.6,49.195865,9,10,False
2,PID0002,Tablet,LG,32910,19,4.5,59.000000,6,15,True
3,PID0003,Watch,LG,33496,28,3.2,97.000000,5,30,False
4,PID0004,Camera,Unknown,45311,3,2.1,42.000000,6,15,True
...,...,...,...,...,...,...,...,...,...,...
995,PID0995,Microwave,Sony,46714,35,3.5,96.000000,9,10,False
996,PID0996,Microwave,Boat,27649,33,2.6,33.000000,2,7,True
997,PID0997,Tablet,Dell,24132,28,4.0,79.000000,6,7,False
998,PID0998,Smartphone,Apple,17789,23,3.1,54.000000,7,10,False
999,PID0999,Speaker,Sony,15567,23,3.7,17.000000,4,15,False